.bg-image {
    /* background-image: url("https://t3.ftcdn.net/jpg/02/31/07/66/360_F_231076694_rxAik9swiCT8WEwHfYXu0noL7K8a382k.jpg"); */
    /* background-repeat: no-repeat; */

}

.bg-image img {
    text-align: center;
    height: 380px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 12%;
    margin-right: 12%;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 992px) {
    .bg-image img {

        height: 360px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100%;
    }

    .subjects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 12%;
        margin-right: 12%;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}