.bg-image {
    background-image: url("https://t3.ftcdn.net/jpg/02/31/07/66/360_F_231076694_rxAik9swiCT8WEwHfYXu0noL7K8a382k.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
    margin-left: 160px;

}