.navbar-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #400D51;


}

.website-name h2 {
    margin: 0px;
    color: white;
    margin-left: 130px;
}

.nav-bar {
    margin-right: 130px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 17px;
}

.nav-bar a:hover {
    color: orangered;
}

.active {
    color: orangered !important;
}

@media only screen and (max-width: 992px) {
    .navbar-section {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        padding: 20px;
        background-color: #400D51;


    }

    .website-name h2 {
        margin: 0px;
        color: white;
        padding-bottom: 20px;
        text-align: center;

    }

    .nav-bar {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;


    }

    .nav-bar a {
        text-decoration: none;
        color: white;
        margin-left: 45px;
        font-size: 17px;

    }

    .nav-bar a:hover {
        color: orangered;
    }

}