.quiz-question-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 62px;
}

.topic-name {
    text-align: center;
    color: rgb(115, 31, 115);
}

.question-container {}

@media only screen and (max-width: 992px) {
    .quiz-question-container {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 30px;
        margin-bottom: 62px;
    }
}